.transparent {
        background: transparent;
        border-radius: 30px;
        padding: 5px 10px;
        min-width: 150px;
        margin: 0 10px;
        font-size: 14px;
        cursor: pointer;
    }

    .transparent:focus {
        outline: none;
    }

    .add-record {
        border: 1px solid #82dcdc;
        color: #82dcdc;
    }

    .delete {
        border: 1px solid #ff4500;
        color: #ff4500;
    }

    .function-button-wrapper {
        right: 16%;
        top: 0;
        z-index: 100;
    }

    .table-wrapper {
        margin-top: 50px;
    }

    td,
    th {
        text-align: center;
        font-size: 14px;
    }

    #example_filter input {
        border: 1px solid black;
        border-radius: 29px;
        width: 180px;
        padding: 2px 15px 2px 40px;
        position: relative;
    }

    #example_filter {
        position: relative;
        margin-right: 15px;
    }

    #example_filter::before {
        content: '';
        position: absolute;
        background-image: url(search.png);
        background-size: contain;
        width: 20px;
        height: 20px;
        z-index: 10;
        left: 18px;
        top: 6px;
    }

    table.dataTable.display tbody tr.odd {
        background: #d4e9ff;
    }

    table.dataTable.display tbody tr.odd>.sorting_1 {
        background: #d4e9ff;
    }

    table.dataTable.display tbody tr.even {
        background: #C3E6CB;
    }

    table.dataTable.display tbody tr.even>.sorting_1 {
        background: #C3E6CB;
    }

    table.dataTable.display tbody tr.odd:hover,
    table.dataTable.display tbody tr.odd:hover .sorting_1 {
        background: #8cc4ff !important;
    }

    table.dataTable.display tbody tr.even:hover,
    table.dataTable.display tbody tr.even:hover .sorting_1 {
        background: #81bf8f !important;
    }

    table.dataTable.display tbody tr.selected,
    table.dataTable.display tbody tr.selected:hover,
    table.dataTable.display tbody tr.selected .sorting_1,
    table.dataTable.display tbody tr.selected:hover .sorting_1 {
        background: #ef8787 !important;
    }

    /* Customize the label (the container) */
    .container {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    /* Hide the browser's default checkbox */
    .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: -6px;
        left: 0;
        right: 0;
        margin: auto;
        height: 25px;
        width: 25px;
        background-color: white;
        border: 1px solid black;
    }

    /* On mouse-over, add a grey background color */
    .container:hover input~.checkmark {
        background-color: white;
        border: 1px solid black;
    }

    /* When the checkbox is checked, add a blue background */
    .container input:checked~.checkmark {
        /*  background-color: #2196F3;*/
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the checkmark when checked */
    .container input:checked~.checkmark:after {
        display: block;
    }

    /* Style the checkmark/indicator */
    .container .checkmark:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid black;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    table.dataTable thead .sorting_asc {
        background: none;
    }

    .dataTables_length select {
        background: transparent;
        padding: 0 10px;
    }